In [62]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

# para pintar
import pylab as plt
import seaborn as sns

# para que salga el grafico
 #matplotlib inline

ModuleNotFoundError: No module named 'pylab'

#LIMPIEZA#

In [ ]:
df_ori = pd.read_csv('../proyecto1-sharks-/attacks.csv',  encoding='cp1252')

df = df_ori.copy()

df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
df.columns

Index(['case-number1', 'date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [ ]:
#renombro columnas antes de hacer mas cambios, sobre todo cuando llegue a fecha y otras.

df.rename(columns={'Case Number': 'case-number1', 'Date': 'date', 'Type': 'typeattack', 'Country': 'country', 'Area': 'area', 'Location': 'location',
       'Activity': 'activity', 'Name': 'name', 'Sex ':'sex', 'Age': 'age', 'Injury': 'injury', 'Fatal (Y/N)': 'fatality', 'Time': 'time',
       'Species ': 'species', 'Investigator or Source': 'source', 'pdf': 'pdf', 'href formula': 'url-1', 'href':'url-2',
       'Case Number.1': 'case-number2', 'Case Number.2':'case-number3', 'original order': 'original-order', 'Unnamed: 22':'empty1', 'Unnamed: 23': 'empty2'}, inplace=True)

In [ ]:
df.head()

,case-number1,date,Year,typeattack,country,area,location,activity,name,sex,age,injury,fatality,time,species,source,pdf,url-1,url-2,case-number2,case-number3,original-order,empty1,empty2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
df.shape

(25723, 24)

In [ ]:
df.info('deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [ ]:
num_df = df.select_dtypes(exclude='object')

num_df.columns

Index(['Year', 'original order'], dtype='object')

In [63]:
#eliminamos duplicados

df= df.drop_duplicates()

In [64]:
df.shape

(5765, 24)

REVISAMOS COLUMNAS CON VALORES 0 - VACIOS PARA LUEGO CVER QUE PODEMOS HACER.

In [65]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

case-number1         2
date                10
Year                11
country             55
area               418
location           497
activity           432
name               165
sex                501
age               2532
injury              31
fatality            25
time              2972
species           2827
source              23
pdf                 10
url-1               11
url-2               10
case-number2        10
case-number3        10
original-order       3
empty1            5764
empty2            5763
dtype: int64

In [66]:
#VAMOS A ELIMINAR EN LA COLUMNA DATA LA PALABRA REPORTED PARA HOMOGENIZAR LA COLUMNA

df.date.unique()

array(['25-Jun-2018', '18-Jun-2018', '08-Jun-2018', ..., '1883-1889',
       '1845-1853', nan], dtype=object)

In [67]:
#AQUI HAGO EL REPLACE DE REPORTED -

df['date'] = df['date'].str.replace('Reported','')

In [68]:
df.date[df.date == 'Reported']

Series([], Name: date, dtype: object)

In [69]:
df.date.value_counts()

1957           9
1942           9
1956           8
1941           7
1958           7
              ..
30-Jun-1995    1
24-Jun-1995    1
23-Jun-1995    1
16-Jun-1995    1
1845-1853      1
Name: date, Length: 4979, dtype: int64

In [70]:
#VAMOS A VER SI ENCONTRAMOS LA REPORTED DENTRO DE LA COLUMNA DATE. PARA ENTENDER SI LA HEMOS REEMPLAZADO.

key_word = 'Reported'

find = df.date[df.date.str.contains(key_word)]

find

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [71]:
#REVISO SI SIGUE EXISTIENDO Y PARECE QUE YA HA HECHO EL REPLACE. Iguamente esta columna tiene muchas filas que podrian ser homogenizadas, sin embargo
#de primeras pienso que no es necesario complicarse con un dato en parte irrelevante, ya que el dia es demasiado puntual y no hay posible forma de
#correcionarlo con otros datos. pero si interesa el mes a ser posible

filtered = df[(df['date']=='Reported')]
filtered.head()

Empty DataFrame
Columns: [case-number1, date, Year, typeattack, country, area, location, activity, name, sex, age, injury, fatality, time, species, source, pdf, url-1, url-2, case-number2, case-number3, original-order, empty1, empty2]
Index: []

In [72]:

df.columns

Index(['case-number1', 'date', 'Year', 'typeattack', 'country', 'area',
       'location', 'activity', 'name', 'sex', 'age', 'injury', 'fatality',
       'time', 'species', 'source', 'pdf', 'url-1', 'url-2', 'case-number2',
       'case-number3', 'original-order', 'empty1', 'empty2'],
      dtype='object')

In [73]:
plt.figure(figsize=(10,6))

sns.heatmap(df.isna(),
           yticklabels=False,
           cmap='viridis',
           cbar = False)

plt.show()

NameError: name 'plt' is not defined

In [74]:
#COLUMNA -- > TYPE#

In [75]:
df.typeattack.unique()

array(['Boating', 'Unprovoked', 'Provoked', 'Questionable',
       'Sea Disaster', 'unknown', 'Boat', 'Boatomg'], dtype=object)

In [76]:
df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Sea Disaster     239
Boating          203
Boat             137
unknown           14
Questionable       2
Boatomg            1
Name: typeattack, dtype: int64

In [ ]:
#df.Type.fillna('unknown', inplace=True)

In [78]:
#aqui encontraremos los valores en la columna type -invalid- para eliminar todas las filas que lo contengan. Parece no funcionar hasta que ocupe los nulos
#con unknown o otro dato, existen 574 valores "invalid" y 2 "Questionable" y unos 14 vacios que vamos a llamar "unknonw " y dropearlos.

df.typeattack.fillna('unknown', inplace=True)

In [79]:
key_word = 'Invalid'

find = df[df.typeattack.str.contains(key_word, regex=True)]

find

Empty DataFrame
Columns: [case-number1, date, Year, typeattack, country, area, location, activity, name, sex, age, injury, fatality, time, species, source, pdf, url-1, url-2, case-number2, case-number3, original-order, empty1, empty2]
Index: []

In [80]:
#vamos a probar una forma de borrar invalid, y si funciona le añado el resto

df = df[df["typeattack"].str.contains("Invalid") == False]

In [81]:
df.shape

(5765, 24)

In [82]:
df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Sea Disaster     239
Boating          203
Boat             137
unknown           14
Questionable       2
Boatomg            1
Name: typeattack, dtype: int64

In [83]:
#funciono!!! aunque si comparo el antes y despues veo que solo borro 367 filas y no las 547 iniciales, sin embargo ya no sale como value counts. prosigo borrado de otras filas.

key_word = 'unknown'

find = df[df.typeattack.str.contains(key_word, regex=True)]

len(find)

14

In [84]:
df = df[df["typeattack"].str.contains("Questionable") == False]

In [85]:
df = df[df["typeattack"].str.contains("unknown") == False]

In [86]:
#ya tenemos los datos bastante mas congruentes ahora deberiamos ver como pasar ese Boatomg o eliminar, que es mas facil y es solo un dato

df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Sea Disaster     239
Boating          203
Boat             137
Boatomg            1
Name: typeattack, dtype: int64

In [88]:
df = df[df["typeattack"].str.contains("Boatomg") == False]

In [89]:
#ahora debemos reemplazar boating o boat para juntar los datos
df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Sea Disaster     239
Boating          203
Boat             137
Name: typeattack, dtype: int64

In [90]:
# de esta forma ya unificamos los datos y tenemos una columna perfecta

df['typeattack'] = df['typeattack'].str.replace('Boating','Boat')

In [91]:
#boat y sea disaster are very similar se podria juntar ambas o diferenciar, por alta mar y cerca de la costa.
df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Boat             340
Sea Disaster     239
Name: typeattack, dtype: int64