In [11]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

# para pintar
import pylab as plt
import seaborn as sns

# para que salga el grafico
 #matplotlib inline

ModuleNotFoundError: No module named 'pylab'

# LIMPIEZA - GENERAL

In [12]:
df_ori = pd.read_csv('../proyecto1-sharks-/attacks.csv',  encoding='cp1252')

df = df_ori.copy()

df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [7]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# renombro columnas

In [21]:
#renombro columnas antes de hacer mas cambios, sobre todo cuando llegue a fecha y otras.

df.rename(columns={'Case Number': 'case-number1', 'Date': 'date', 'Type': 'typeattack', 'Country': 'country', 'Area': 'area', 'Location': 'location',
       'Activity': 'activity', 'Name': 'name', 'Sex ':'sex', 'Age': 'age', 'Injury': 'injury', 'Fatal (Y/N)': 'fatality', 'Time': 'time',
       'Species ': 'species', 'Investigator or Source': 'source', 'pdf': 'pdf', 'href formula': 'url-1', 'href':'url-2',
       'Case Number.1': 'case-number2', 'Case Number.2':'case-number3', 'original order': 'original-order', 'Unnamed: 22':'empty1', 'Unnamed: 23': 'empty2'}, inplace=True)

# Empieza investigación

In [22]:
df.head()

,case-number1,date,Year,typeattack,country,area,location,activity,name,sex,age,injury,fatality,time,species,source,pdf,url-1,url-2,case-number2,case-number3,original-order,empty1,empty2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [23]:
df.shape

(6312, 24)

In [24]:
df.info('deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case-number1    6310 non-null   object
 1   date            6302 non-null   object
 2   Year            6300 non-null   float64
 3   typeattack      6298 non-null   object
 4   country         6252 non-null   object
 5   area            5847 non-null   object
 6   location        5762 non-null   object
 7   activity        5758 non-null   object
 8   name            6092 non-null   object
 9   sex             5737 non-null   object
 10  age             3471 non-null   object
 11  injury          6274 non-null   object
 12  fatality        5763 non-null   object
 13  time            2948 non-null   object
 14  species         3464 non-null   object
 15  source          6285 non-null   object
 16  pdf             6302 non-null   object
 17  url-1           6301 non-null   object
 18  url-2           6302 non-null   object
 19  case-number2    6302 non-null   object
 20  case-number3    6302 non-null   object
 21  original-order  6309 non-null   float64
 22  empty1          1 non-null      object
 23  empty2          2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [25]:
num_df = df.select_dtypes(exclude='object')

num_df.columns

Index(['Year', 'original-order'], dtype='object')

# Eliminamos duplicados

In [26]:
#eliminamos duplicados

df= df.drop_duplicates()

In [27]:
df.shape

(6312, 24)

# REVISAMOS COLUMNAS CON VALORES 0 - VACIOS PARA LUEGO CVER QUE PODEMOS HACER.

In [28]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

case-number1         2
date                10
Year                12
typeattack          14
country             60
area               465
location           550
activity           554
name               220
sex                575
age               2841
injury              38
fatality           549
time              3364
species           2848
source              27
pdf                 10
url-1               11
url-2               10
case-number2        10
case-number3        10
original-order       3
empty1            6311
empty2            6310
dtype: int64

# LIMPIEZA DATE

In [29]:
#VAMOS A ELIMINAR EN LA COLUMNA DATA LA PALABRA REPORTED PARA HOMOGENIZAR LA COLUMNA

df.date.unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1883-1889',
       '1845-1853', nan], dtype=object)

### Probamos el Replace

In [31]:
#AQUI HAGO EL REPLACE DE REPORTED -

df['date'] = df['date'].str.replace('Reported','')

In [32]:
df.date[df.date == 'Reported']

Series([], Name: date, dtype: object)

In [33]:
df.date.value_counts()

1957                  11
1942                   9
1956                   8
1958                   7
1941                   7
                      ..
25-Nov-1994            1
01-Dec-1994            1
      10-Dec-1994      1
11-Dec-1994            1
1845-1853              1
Name: date, Length: 5432, dtype: int64

In [37]:
#VAMOS A VER SI ENCONTRAMOS LA REPORTED DENTRO DE LA COLUMNA DATE. PARA ENTENDER SI LA HEMOS REEMPLAZADO. Parece que si.

key_word = 'Reported'

find = df.date[df.date.str.contains(key_word)]

find

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [36]:
#REVISO SI SIGUE EXISTIENDO Y PARECE QUE YA HA HECHO EL REPLACE. Iguamente esta columna tiene muchas filas que podrian ser homogenizadas, sin embargo
#de primeras pienso que no es necesario complicarse con un dato en parte irrelevante, ya que el dia es demasiado puntual y no hay posible forma de
#correcionarlo con otros datos. pero si interesa el mes a ser posible por lo que aplicaré un bonito regex.

filtered = df[(df['date']=='Reported')]
filtered.head()

Empty DataFrame
Columns: [case-number1, date, Year, typeattack, country, area, location, activity, name, sex, age, injury, fatality, time, species, source, pdf, url-1, url-2, case-number2, case-number3, original-order, empty1, empty2]
Index: []

# REGEX: date

In [38]:
# encuentra 5241 valores que cumplen el regex de unos 5748 totales

key_word = '\w{3}[-]\d{4}'

find = df[df.date.str.contains(key_word, regex=True)]

len(find)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
# siguiente paso droppear las filas que no cumplen el regex

key_word = '\w{3}[-]\d{4}'

# df1 = df[~(df['date'] == key_word)].index 
df.drop(df1, inplace = True)
print(df)

--------

#  TYPE ATTACK

In [39]:
df.typeattack.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [40]:
df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: typeattack, dtype: int64

In [41]:
#df.Type.fillna('unknown', inplace=True)

In [42]:
#aqui encontraremos los valores en la columna type -invalid- para eliminar todas las filas que lo contengan. Parece no funcionar hasta que ocupe los nulos
#con unknown o otro dato, existen 574 valores "invalid" y 2 "Questionable" y unos 14 vacios que vamos a llamar "unknonw " y dropearlos.

df.typeattack.fillna('unknown', inplace=True)

In [43]:
key_word = 'Invalid'

find = df[df.typeattack.str.contains(key_word, regex=True)]

find

,case-number1,date,Year,typeattack,country,area,location,activity,name,sex,age,injury,fatality,time,species,source,pdf,url-1,url-2,case-number2,case-number3,original-order,empty1,empty2
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,Injured by teeth of a dead porbeagle shark he ...,N,08h15,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,NaN,NaN
31,2018.04.10.R,10-Apr-2018,2018.0,Invalid,BRAZIL,Alagoas,"Praia de Sauaçuhy, Maceió",Fishing,Josias Paz,M,56,Injury to ankle from marine animal trapped in ...,N,NaN,Shark involvement not confirmed,"K. McMurray, TrackingSharks.com",2018.04.10.R-Paz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.10.R,2018.04.10.R,6272.0,NaN,NaN
43,2018.02.14,14-Feb-2018,2018.0,Invalid,AUSTRALIA,Queensland,Mooloolaba Beach,Swimming,Sharna Babd,F,NaN,"Collision / No injury, no attack",N,18h00,Possibly a wobbegong,"Sunshine Coast Daily, 2/15/2018",2018.02.14-Babd.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.02.14,2018.02.14,6260.0,NaN,NaN
44,2018.02.11,11-Feb-2018,2018.0,Invalid,BRAZIL,"Boi Island, Victoria",Espirito Santo,Cleaning fish,Rosalida Souza,F,46,Lacerations to 4 toes of right foot,N,NaN,"Injury believed caused by an eel, not a shark",TrackingSharks.com,2018.02.11-Rosilda.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.02.11,2018.02.11,6259.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6147,1767.00.00,1767,1767.0,Invalid,FRANCE,Côte d'Azur,St. Tropez,Bathing,Samuel Matthews,M,NaN,Lacerations to arm & leg,NaN,NaN,Description of shark does not ring true,NaN,1767.00.00-Matthews.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1767.00.00,1767.00.00,156.0,NaN,NaN
6157,1733.00.00,1733,1733.0,Invalid,ICELAND,Bardestrand,Talkknefiord,NaN,NaN,NaN,NaN,"Partial hominid remains recovered from shark, ...",NaN,NaN,Shark involvement prior to death unconfirmed,E. Olafsen,1733.00.00-Iceland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1733.00.00,1733.00.00,146.0,NaN,NaN
6164,1642.00.00.b,Late 1600s 1728,1642.0,Invalid,GUINEA,NaN,NaN,Went overboard,crew member of the Nieuwstadt,M,NaN,FATAL,NaN,NaN,Questionable,"History of the Pyrates, by D. Defoe, Vol. 2, p.28",1642.00.00.b-Nieuwstadt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00.b,1642.00.00.b,139.0,NaN,NaN
6227,ND.0086,"No date, Before 1975",0.0,Invalid,PAPUA NEW GUINEA,Milne Bay Province,"D'Entrecasteaux islands, 20 miles off the coast",Scuba diving,Dan Hogan,M,NaN,Said to be fatal and involve a 4.6 m to 6 m [1...,Y,NaN,Questionable,"F. Dennis, pp.15-16",ND-0086-DanHogan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0086,ND.0086,76.0,NaN,NaN
6232,ND.0081,"No date, Before 1963",0.0,Invalid,USA,Hawaii,"Portlock, Oahu",Diving,Val Valentine,M,NaN,A 4.3 m [14'] shark made threat display. No in...,NaN,NaN,Invalid,B. Sojka & D. Lloyd,ND-0081-Valentine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0081,ND.0081,71.0,NaN,NaN

In [44]:
#vamos a probar una forma de borrar invalid, y si funciona le añado el resto

df = df[df["typeattack"].str.contains("Invalid") == False]

In [45]:
df.shape

(5765, 24)

In [46]:
df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Sea Disaster     239
Boating          203
Boat             137
unknown           14
Questionable       2
Boatomg            1
Name: typeattack, dtype: int64

In [48]:
#funciono!!! aunque si comparo el antes y despues veo que solo borro 367 filas y no las 547 iniciales, sin embargo ya no sale como value counts. prosigo borrado de otras filas.

key_word = 'unknown'

find = df[df.typeattack.str.contains(key_word, regex=True)]

len(find)

14

In [49]:
df = df[df["typeattack"].str.contains("Questionable") == False]

In [50]:
df = df[df["typeattack"].str.contains("unknown") == False]

In [51]:
#ya tenemos los datos bastante mas congruentes ahora deberiamos ver como pasar ese Boatomg o eliminar, que es mas facil y es solo un dato

df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Sea Disaster     239
Boating          203
Boat             137
Boatomg            1
Name: typeattack, dtype: int64

In [52]:
df = df[df["typeattack"].str.contains("Boatomg") == False]

In [53]:
#ahora debemos reemplazar boating o boat para juntar los datos
df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Sea Disaster     239
Boating          203
Boat             137
Name: typeattack, dtype: int64

In [54]:
# de esta forma ya unificamos los datos y tenemos una columna perfecta

df['typeattack'] = df['typeattack'].str.replace('Boating','Boat')

In [55]:
#boat y sea disaster are very similar se podria juntar ambas o diferenciar, por alta mar y cerca de la costa.
df.typeattack.value_counts()

Unprovoked      4595
Provoked         574
Boat             340
Sea Disaster     239
Name: typeattack, dtype: int64

--------

# Empieza Country

In [56]:
df.country.unique()
#hay un cholon de cosas, y bueno podria ser bueno quitar las upper case,  y ver si hay espacios mal puestos

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'SOUTH AFRICA', 'THAILAND',
       'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA', 'ECUADOR',
       'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS', 'NEW ZEALAND',
       'SPAIN', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT',
       'ST HELENA, British overseas territory', 'REUNION',
       'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES',
       'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'Fiji',
       'DOMINICAN REPUBLIC', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM',
       'SEYCHELLES', 'BELIZE', 'JAMAICA', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'ITALY', 'CHILE', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'SAMOA',
       'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR',
       'UNITED ARAB EMIRATES (UAE)', 'PANAMA', 'SOMALIA', 'CROATIA',
       'ENGLAND', 'NORWAY', 'YEMEN', 'GULF OF ADEN', 'Sierra Leone',
       'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU', 'MEXICO ', 'VENEZUELA',
       ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA',
       'CANADA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'SENEGAL',
       'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG',
       'EL SALVADOR', 'ANGOLA', 'IRAN', 'TUNISIA', 'NAMIBIA', 'BERMUDA',
       'NORTH ATLANTIC OCEAN', 'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU',
       'WESTERN SAMOA', 'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA',
       'SRI LANKA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN',
       'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'PORTUGAL', 'NORTH ATLANTIC OCEAN ', 'MONTENEGRO', 'THE BALKANS',
       'SUDAN?', 'ARGENTINA', 'MARTINIQUE', 'INDIAN OCEAN',
       'NETHERLANDS ANTILLES', 'LIBERIA', 'SAUDI ARABIA',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'BARBADOS', 'CAPE VERDE', 'HONDURAS', 'MONACO',
       'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'OCEAN', 'GEORGIA', 'TUVALU',
       'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS', 'CEYLON',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'ANTIGUA', 'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [86]:
df.country.value_counts()

USA                   2036
Australia             1216
South Africa           514
Papua new guinea       132
New Zealand            115
                      ...
Western samoa            1
philippines              1
Java                     1
Iran / iraq              1
Ceylon (sri lanka)       1
Name: country, Length: 196, dtype: int64

### Rellenamos espacios en blanco con unknown y podemos filtrar etc.

In [58]:
df.country.fillna('unknown', inplace=True)

In [59]:
key_word = 'ITALY'

find = df[df.country.str.contains(key_word)]
find.head()

,case-number1,date,Year,typeattack,country,area,location,activity,name,sex,age,injury,fatality,time,species,source,pdf,url-1,url-2,case-number2,case-number3,original-order,empty1,empty2
786,2012.06.10,10-Jun-2012,2012.0,Provoked,ITALY,Sardinia,Muravera,Attempting to rescue an injured & beached shark,Giorgio Zara,M,57,Lower left leg injured PROVOKED ACCIDENT,2017,Morning,"Blue shark, 2.5m","D. Puddo, 6/11/2012",2012.06.10-Zara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.06.10,2012.06.10,5517.0,NaN,NaN
1443,2006.08.20.b,20-Aug-2006,2006.0,Sea Disaster,ITALY,NaN,Lampedusa Island,Sea Disaster,a refugee,M,NaN,FATAL,Y,NaN,NaN,IM/LR,2006.08.20.b-Lampedusa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.08.20.b,2006.08.20.b,4860.0,NaN,NaN
1928,2001.08.03,03-Aug-2001,2001.0,Boat,ITALY,NaN,Rimini,Fishing,boat; occupants: T & G Longhi,NaN,NaN,No Injury to occupants,N,NaN,NaN,MEDSAF,2001.08.03-Longhi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2001.08.03,2001.08.03,4375.0,NaN,NaN
2098,1999.09.24,24-Sep-1999,1999.0,Boat,ITALY,Adriatic Sea,San Benedetto,Fishing,Boat “Coca Cola”,NaN,NaN,No Injury to occupants,N,NaN,Said to involve a 7 m [23'] white shark,"Orlando Sentinel, 9/28/1999, p.A12",1999.09.24-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.09.24,1999.09.24,4205.0,NaN,NaN
2587,1991.07.30,30-Jul-1991,1991.0,Boat,ITALY,Ligurian Sea,"Portofino, 20 miles offshore, Tigullio Bay, Sa...",Canoeing,Ivana Iacaccia,F,40,No Injury to occupant; canoe bitten,N,15h30,4 m [13'] white shark,"Stars & Stripes, 8/5/1991, p.8; A. De Maddalen...",1991.07.30-Ivana-Iacaccia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1991.07.30,1991.07.30,3716.0,NaN,NaN

### Hacemos un lower case

In [60]:
df['country'].str.lower()

0                      usa
1                      usa
3                australia
4                   mexico
5                australia
               ...
6297             australia
6298             australia
6299                   usa
6300                panama
6301    ceylon (sri lanka)
Name: country, Length: 5748, dtype: object

In [61]:

df['country'] = df['country'].str.capitalize()

In [62]:
key_word = 'Unknown'

find = df[df.country.str.contains(key_word)]
find.head()

,case-number1,date,Year,typeattack,country,area,location,activity,name,sex,age,injury,fatality,time,species,source,pdf,url-1,url-2,case-number2,case-number3,original-order,empty1,empty2
62,2017.11.13.R,13-Nov-2017,2017.0,Unprovoked,Unknown,NaN,NaN,Surfing,Timur Yunusov,M,24,Puncture wounds to feet,N,NaN,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,NaN,NaN
2956,1983.00.00.d,Ca. 1983,1983.0,Unprovoked,Unknown,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,NaN,Left leg bitten,N,NaN,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,NaN,NaN
3378,1970.11.00,Nov-1970,1970.0,Unprovoked,Unknown,NaN,NaN,NaN,Heinz Plotsky,M,NaN,Extensive injuries,N,NaN,NaN,"H.D. Baldridge (1994), SAF Case #1645",1970.11.00-NV-Plotsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.11.00,1970.11.00,2925.0,NaN,NaN
3388,1970.07.05,5-Jul-1970,1970.0,Unprovoked,Unknown,NaN,NaN,NaN,male,M,NaN,Finger or toe severed,N,Night,Mako shark,"H.D. Baldridge (1994), SAF Case #1628",1970.07.05-NV-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.07.05,1970.07.05,2915.0,NaN,NaN
3395,1970.04.00.b,Apr-1970,1970.0,Provoked,Unknown,NaN,NaN,Freediving,Lionel Jarvis,M,NaN,Arm abraded & lacerated. Recorded as PROVOKED ...,N,NaN,Wobbegong shark,"H.D. Baldridge (1994), SAF Case #1616",1970.04.00.b-NV-Jarvis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.04.00.b,1970.04.00.b,2908.0,NaN,NaN

### Mejoramos algunos de los paises

In [63]:
df['country'] = df['country'].str.replace('Usa','USA')

In [64]:
df['country'] = df['country'].str.replace('United arab emirates','United Arab Emirates')

In [65]:
df['country'] = df['country'].str.replace('South africa','South Africa')

In [85]:
df['country'] = df['country'].str.replace('New zealand','New Zealand')

### Quitamos espacios delante y detrás -

In [67]:
df['country'] = df['country'].str.lstrip()

In [68]:
df['country'] = df['country'].str.rstrip()

### Vamos a quitar valores vacios

In [72]:
##son unas 45 filas vacias que nos quitamos de golpe

df = df[df["country"].str.contains("Unknown") == False]

In [80]:
df.shape

(5703, 24)

In [78]:
df = df[df["country"].str.contains("Unknown") == False]

In [79]:
df.shape

(5703, 24)

df['date'] = df['date'].str.replace('Reported','')

In [ ]:
### borrar nulos con la mediana ( para columna edada) df.price.fillna(df.price.mean(), inplace=True)

In [ ]:
# para hacer sort y luego borrar: df.sort_values(('invoicedate'), ascending=True).groupby('country').sum().head()

# student.pivot_table(index=['school'], columns=['sex'])

### Ahora podemos ver de eliminar paises inutiles

In [88]:

# eliminamos un monton de paises que no cumplan la condicion, ya que hay un momento que la base de datos baja de golpe el numero de valores, y por tanto su remprensatividad

no_country = df[(df['country']!="USA") & (df['country']!="Australia")& (df['country']!="Papua new guinea") & (df['country']!="South Africa")& (df['country']!="New Zealand")].index
no_country
no_country
df.drop(no_country, axis=0, inplace=True)
df.shape

(4013, 24)